/*妫ｆ牠銆夐悧鍫熸綀瀵偓婵拷*/
.jrzj_index_copyright {
    width: 100%;
    min-width: 1000px;
    height: auto;
    height: auto \9;
    _height: auto;
    *height: auto;
    overflow: hidden;
    background: #f5f5f5;
    padding: 30px 0 20px 0;
    border-top: 1px solid #e7e7e7;
    margin-top: 30px;
}

.jrzj_index_copyright .left_link_box {
    margin-top: 10px;
    height: auto;
    height: auto \9;
    _height: auto;
    *height: auto;
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 40px;
}

.jrzj_index_copyright .left_logo {
    width: 160px;
    height: 96px;
    float: left;
    padding-left: 10px;
    padding-top: 30px;
}

.jrzj_index_copyright .left_link {
    float: left;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    padding: 0 10px 0 30px;
    overflow: hidden;
}

.jrzj_index_copyright .left_link h3 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    font-family: "瀵邦喛钂嬮梿鍛寸拨";
    color: #999;
}

.jrzj_index_copyright .left_link .link_box {
    width: 750px;
    margin-top: 10px;
    overflow: hidden;
}

.jrzj_index_copyright .left_link .link_box span {
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.jrzj_index_copyright .left_link .link_box ul {
    padding-right: 60px;
    float: left;
    display: block;
}

.jrzj_index_copyright .left_link .link_box ul li {
    text-align: left;
    height: 22px;
    line-height: 22px;
    color: #888;
}

.jrzj_index_copyright .left_link .link_box ul li a {
    padding: 0px 8px 0px 8px;
}

.jrzj_index_copyright .left_link .link_box ul span {
    padding-left: 8px;
}

.jrzj_index_copyright .right_fenxiang {
    width: 180px;
    float: right;
    overflow: hidden;
    margin-top: 5px;
}

.jrzj_index_copyright .right_fenxiang_box {
    height: 32px;
}

.jrzj_index_copyright .right_fenxiang_box a {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 15px;
}

.jrzj_index_copyright .right_fenxiang_box a.sina_weibo {
    background: url(../images/new_info_icon04.png) no-repeat -21px -15px;
}

.jrzj_index_copyright .right_fenxiang_box a.sina_weibo:hover {
    background: url(../images/new_info_icon04.png) no-repeat -75px -15px;
}

.jrzj_index_copyright .right_fenxiang_box a.qq_weibo {
    background: url(../images/new_info_icon04.png) no-repeat -21px -59px;
}

.jrzj_index_copyright .right_fenxiang_box a.qq_weibo:hover {
    background: url(../images/new_info_icon04.png) no-repeat -75px -59px;
}

.jrzj_index_copyright .right_fenxiang_box a.weixin_weibo {
    background: url(../images/new_info_icon04.png) no-repeat -21px -104px;
}

.jrzj_index_copyright .right_fenxiang_box a.weixin_weibo:hover {
    background: url(../images/new_info_icon04.png) no-repeat -75px -104px;
}

.jrzj_index_copyright .right_fenxiang .right_weixin {
    margin-top: 15px;
}

.jrzj_index_copyright .copyright_nav {
    margin: 0px 0 10px 0;
    border-top: 1px solid #fff;
    padding-top: 20px;
    text-align: center;
    color: #999;
}

.jrzj_index_copyright .copyright_nav  a {
    margin: 0 10px;
    text-align: center;
}

.jrzj_index_copyright .copyright_copy {
    text-align: center;
    line-height: 24px;
    font-family: "瀵邦喛钂嬮梿鍛寸拨";
    color: #999;
}

.jrzj_index_copyright .copyright_copy em {
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
}

.copyright_copy img {
    margin-left: 5px;
}

.copyright_nav_con {
    margin: 0px 0 10px 0;
    padding: 0;
    border-top: none;
}

.copyright_img {
    margin-top: 10px;
    text-align: center;
}

.copyright_img img {
    margin: 0 5px;
}

.index_padding {
    padding: 0 0 20px 0;
}

.jrzj_index_copyright .copyright_copy a:link, .jrzj_index_copyright .copyright_copy a:visited {
    color: #999;
}

.jrzj_index_copyright .copyright_copy a:hover {
    color: #db2828;
}
/*妫ｆ牠銆夐悧鍫熸綀缂佹挻娼�/
 

/*鐠у嫯顔嗘＃鏍�閻楀牊娼堝鈧慨锟�/

.jrzj_info_copyright {width:100%; min-width:1000px;  height:auto; height:auto \9; _height:auto; *height:auto; overflow:hidden; background:#3d3d3d; padding:10px 0; border-top:1px solid #eaeaea;   border-bottom:1px solid #e7e7e7;}
.jrzj_info_copyright .left_link_box {margin-top:10px;height:auto; height:auto \9; _height:auto; *height:auto; overflow:hidden;}
.jrzj_info_copyright .left_link {width:970px; float:left; }
.bottomtext{width:970px;  overflow:hidden;}
.jrzj_info_copyright .left_link h3 {font-size:16px; font-weight:bold; font-family:"瀵邦喛钂嬮梿鍛寸拨"; color:#999; float:left; float:left;}
.bottomtext em{ border-right:1px solid #d8d8d8; float:left; display:block; padding:7px 0; margin:4px 15px;}
.bottomtext a:link,.bottomtext a:visited{color:#999;}
.bottomtext a:hover{color:#DC3F3F;}
.bottomtext a.avisited{color:#DC3F3F;}
.jrzj_info_copyright .left_link .link_box { width:970px; margin-top:10px;}
.link_box table tr td{ width:120px; padding-right:20px;}
.jrzj_info_copyright .left_link .link_box ul {width:120px; margin-right:15px; float:left; display:block; }
.jrzj_info_copyright .left_link .link_box ul li {text-align:left; line-height:28px;}
.jrzj_info_copyright .right_fenxiang {width:180px; float:right; overflow:hidden; margin-top:35px;}
.jrzj_info_copyright .right_fenxiang_box { height:32px;}
.jrzj_info_copyright .right_fenxiang_box a {width:32px; height:32px; float:left; margin-right:15px;}
.jrzj_info_copyright .right_fenxiang_box a.sina_weibo { background:url(../images/new_info_icon04.png) no-repeat -21px -15px;}
.jrzj_info_copyright .right_fenxiang_box a.sina_weibo:hover {background:url(../images/new_info_icon04.png) no-repeat -75px -15px;}
.jrzj_info_copyright .right_fenxiang_box a.qq_weibo { background:url(../images/new_info_icon04.png) no-repeat -21px -59px;}
.jrzj_info_copyright .right_fenxiang_box a.qq_weibo:hover {background:url(../images/new_info_icon04.png) no-repeat -75px -59px;}
.jrzj_info_copyright .right_fenxiang_box a.weixin_weibo { background:url(../images/new_info_icon04.png) no-repeat -21px -104px;}
.jrzj_info_copyright .right_fenxiang_box a.weixin_weibo:hover {background:url(../images/new_info_icon04.png) no-repeat -75px -104px;}
.jrzj_info_copyright .right_fenxiang .right_weixin { margin-top:20px;}
.jrzj_info_copyright .copyright_nav { margin:20px 0 10px 0; /*border-top:1px solid #eee; padding-top:20px;*/
text-align
:center
;
 
color
:
#999
;
}
.jrzj_info_copyright .copyright_nav  a {
    margin: 0 10px;
    text-align: center;
}

.jrzj_info_copyright .copyright_copy {
    text-align: center;
    line-height: 26px;
    color: #cfcfcf;
}

.jrzj_info_copyright .copyright_copy a {
    color: #cfcfcf;
}

.jrzj_info_copyright .copyright_copy em {
    font-family: Arial, Helvetica, sans-serif;
    color: #cfcfcf;
    padding: 0 3px;
}

.jrzj_info_copyright .copyright_nav_con {
    margin: 0px 0 10px 0;
    padding: 0;
    border-top: none;
}

.infor_ad02 {
    width: 1200px;
    height: 100px;
}

.infor_ad02 img {
    width: 1198px;
    height: 100px;
    border: 1px solid #E9E9E9;
    display: block;
    background: url(../img/jrzj_default.png) no-repeat center center;
    margin-top: 15px;
}
/*鐠у嫯顔嗘＃鏍�閻楀牊娼堢紒鎾存将*/
.jrzj_info_copyright .copyright_none {
    border-top: none;
    padding-top: 0;
}

.copyright_nav a.jrzja01:link, .copyright_nav a.jrzja01:visited {
    color: #cfcfcf;
}

.copyright_nav a.jrzja01:hover {
    color: #fff;
    text-decoration: none;
    transition-duration: 0.6s;
    -moz-transition-duration: 0.6s; /* Firefox 4 */
    -webkit-transition-duration: 0.6s; /* Safari 閸滐拷 Chrome */
    -o-transition-duration: 0.6s; /* Opera */
}

/*缂冾噣銆�/
#tbox{width:51px; height:89px; float:right; position:fixed; margin-left:11px;
_position:absolute;
_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
_margin-bottom:10px;
}/*鐟欙絽鍠匢E6娑撳绗夐崗鐓庮啇 position:fixed 閻ㄥ嫰妫舵０锟�/
#jianyi{ width:42px; height:42px; background:url(../images/suggest.png) no-repeat; position:absolute; bottom:0px; cursor:pointer; top:0;}
#gotop{ width:42px; height:42px; background:url(../images/top01.png) no-repeat; position:absolute;  display:none; cursor:pointer;  margin-top:47px; } 
#duibi{ width:42px; height:42px;  background:url(../images/db.png) no-repeat; position:absolute; top:-47px; display:none; cursor:pointer; } 
#jianyi:hover{ background:url(../images/suggest.png) no-repeat 0px -54px}
#gotop:hover{ background:url(../images/top03.png) no-repeat;}
#duibi:hover{background:url(../images/db.png) no-repeat 0 -42px;} 
#cardtbox{ border:1px solid #e5e5e5; display:block; width:40px; height:40px;  position:absolute; top:-187px;}
#loantbox{border:1px solid #e5e5e5; display:block; width:40px; height:40px;  position:absolute; top:-140px;}
#bxtbox{border:1px solid #e5e5e5; display:block; width:40px; height:40px;  position:absolute; top:-93px;} 
#lctbox{border:1px solid #e5e5e5; display:block; width:40px; height:40px;  position:absolute; top:-46px;}
#tbox .hovertbox img{ margin-top:4px;}
#tbox .visitedtbox center{ color:#fff; line-height:40px; background:#dc3f3f;}



/*鎼存洟鍎村鐟板毉*/
.bottom_big {
    width: 100%;
    background: url(../images/bottom.png) repeat-x;
    height: 120px;
    position: fixed;
    bottom: 0;
    z-index: 888;
    display: none;
    z-index: 9999;
    bottom: -150px;
}

.bottom_pic {
    position: absolute;
    z-index: 1;
    left: 20%;
    margin-bottom: 50px;
}

.bottom_pic img {
    width: 3259px;
    height: 110px;
    position: absolute;
    margin-left: -1150px;
    padding-top: 24px;
}

.bottom_text {
    width: 660px;
    float: left;
    padding: 20px 35px 0 40px;
    position: relative;
    z-index: 9999;
}

.bottom_login {
    float: left;
    font-family: "瀵邦喛钂嬮梿鍛寸拨";
    color: #fff;
    font-size: 18px;
    padding: 48px 0 0 0;
    position: relative;
    z-index: 9999;
}

.bottom_login a {
    padding: 0px 5px;
}

.bottom_login a:link, .bottom_login a:visited {
    color: #f9d80b;
    text-decoration: underline;
}

.bottom_login a.abg {
    position: relative;
    left: 8px;
}

.bottom_login a.abg:link, a.abg:visited {
    background: url(../images/abg.png) repeat-x;
    color: #fff;
    padding: 10px 25px;
    text-decoration: none;
    cursor: pointer;
}

.bottom_login a.abg:hover {
    color: #fff;
}

.close {
    float: right;
    position: relative;
    top: 15px;
    *top: -75px;
    float: right;
    right: 15px;
    z-index: 99991;
    cursor: pointer;
}

.close2 {
    margin-top: -27px;
    position: absolute;
    right: -12px;
    z-index: 9999;
}

/*2014/09/22*/
.copyright_big {
    width: 1042px;
    border-top: 2px solid #dc3f3f;
    margin: 15px auto auto auto;
    line-height: 27px;
    padding: 10px 0;
}

.copyabout {
    text-align: center;
    color: #888;
}

.copyabout a {
    padding: 0 10px;
}

.copyright_big center img {
    margin: 0 5px 0 10px;
}

/*閸欏厖鏅跺顔讳繆閹殿偅寮垮鈧慨锟�/
.wx_big{ margin:0 auto; position:fixed;top:133px;}
.jrzj_wx{width:110px;  border:1px solid #dbdbdb; position:fixed; z-index:9998;margin-left:330px; background:#fff; margin-top:19px; padding:18px 0 10px 0;}

.wxpic01{ text-align:right; float:right; height:20px; width:135px; padding-bottom:5px; position:relative; top:19px; right:-1px; cursor:pointer; margin-left:306px; display:none; z-index:9999;}
.wx_big:hover .wxpic01{ display:block; cursor:pointer;}
.wxpic02{ background:url(../images/phonewx01.jpg) no-repeat #fff center; width:84px; height:84px; cursor:pointer; clear:both; margin:0 auto; padding:4px;}
.wxpic02:hover{ background:url(../images/phonewx02.png) no-repeat #fff center; width:84px; height:84px; cursor:pointer; padding:4px;}
.jrzj_wx span.red_wx{ background:#da2828; width:103px; margin:8px auto; display:block; color:#fff; text-align:center; padding:1px 0;}
.jrzj_wx em.sina_tx{ margin:0 auto; display:block; width:106px;} 
.jrzj_wx em.sina_tx img{ margin:0px 0px 4px 0px;}
.wxtext{font-size:12px; text-align:center;}
.wxtext strong{font-size:18px;}
.wxtext strong font{color:#dc3f3f; font-size:18px;}


/*閸欏鍎忛柧鐐复瀵偓婵拷*/
.links_big ul li {
    float: left;
    line-height: 22px;
}

.links_big {
    clear: both;
    width: 100%;
}

.links_big ul li a {
    color: #9a9a9a;
}

.links_big ul li a:hover {
    color: #fff;
}

.links_big ul li em {
    padding: 0 5px;
    color: #9a9a9a;
}

.links_big span {
    color: #d0d0d0;
    font-size: 14px;
    line-height: 28px;
    display: block;
    padding-bottom: 5px;
}

.ad_infor img {
    width: 1042px;
    margin-top: 15px;
}

.indexbottom {
    background: #f9f9f9;
    width: 100%;
    padding: 0px 0 20px 0;
    margin-top: 20px;
    height: auto;
    overflow: hidden;
}

.indexbottom2 {
    background: #f9f9f9;
    width: 100%;
    padding: 0px 0 20px 0;
    height: auto;
    overflow: hidden;
}

.hzline {
    font-size: 16px;
    line-height: 35px;
    border-bottom: 1px solid #ededed;
    height: 40px;
}

.hzline span {
    color: #555;
    float: left;
}

.hzline span a {
    color: #555;
    display: block;
    width: 100px;
    text-align: center;
    background: #f9f9f9;
    height: 40px;
    float: left;
}

.hzline span a.foocolor {
    color: #db2828;
    border: 1px solid #ededed;
    border-bottom: 0;
    height: 41px;
    background: #f9f9f9;
    width: 98px;
    line-height: 36px;
    margin-top: -1px;
}

.hzline span a:hover {
    color: #db2828;
}

.hzline em {
    float: right;
}

.hzline em img {
    padding-top: 13px;
    padding-left: 10px;
    cursor: pointer;
}

.hzpic {
    clear: both;
}

.hzpicbig {
    width: 1300px;
    overflow: hidden;
}

.hzpic img {
    width: 180px;
    height: 40px;
    margin-right: 56px;
    filter: alpha(opacity = 60);
    -moz-opacity: 0.6;
    opacity: 0.6;
    cursor: pointer;
}
/*閺傛澘绨抽柈锟�/
/*Firefox缁変焦婀侀敍宀勨偓蹇旀鎼达拷50%*/
.hzpic img:hover {
    filter: alpha(opacity = 10); /*IE濠娿倝鏆呴敍宀勨偓蹇旀鎼达拷50%*/
    -moz-opacity: 1; /*Firefox缁変焦婀侀敍宀勨偓蹇旀鎼达拷50%*/
    opacity: 1;
}

.hzpic p {
    margin: 12px 0;
}

.jd {
    padding: 20px 0 0px 0;
    border-top: 1px solid #fff;
}

.jd .hzline {
    border-bottom: 0;
}

.jd img {
    margin-top: 10px;
}

.index_hz {
    border-bottom: 1px solid #ededed;
    padding-bottom: 20px;
}

.jd ul {
    clear: both;
}

.jd ul li {
    float: left;
    margin-right: 55px;
}

.jd ul li img {
    filter: alpha(opacity = 50); /*IE濠娿倝鏆呴敍宀勨偓蹇旀鎼达拷50%*/
    -moz-opacity: 0.5; /*Firefox缁変焦婀侀敍宀勨偓蹇旀鎼达拷50%*/
    opacity: 0.5;
    cursor: pointer;
}

.jd ul li img:hover {
    filter: alpha(opacity = 10); /*IE濠娿倝鏆呴敍宀勨偓蹇旀鎼达拷50%*/
    -moz-opacity: 1; /*Firefox缁変焦婀侀敍宀勨偓蹇旀鎼达拷50%*/
    opacity: 1;
}

.jrzj_copyrights {
    background: #3d3d3d;
    height: auto;
    width: 100%;
    overflow: hidden;
    padding: 5px 0 30px 0;
}

.copyright_text {
    width: 700px;
    float: left;
    line-height: 27px;
}

.bz {
    color: #d0d0d0;
    margin-left: -4px;
}

.bz a {
    padding: 0 4px;
    color: #d0d0d0;
}

.bz a:hover {
    color: #fff;
}

.copyright_text p {
    color: #d0d0d0;
    padding-right: 12px;
}

.copyright_text p em {
    color: #d0d0d0;
    padding-right: 12px;
}

.copyright_text p img {
    margin-top: 8px;
}

.copyright_right {
    float: right;
    width: 200px;
}

.copyright_right strong {
    font-size: 23px;
    color: #fffefe;
    display: block;
    padding-bottom: 5px;
}

.copyright_right p {
    color: #d0d0d0;
    line-height: 22px;
}

.copyright_right p.ws {
    padding-top: 11px;
}

.copyright_right p.ws em {
    color: #d0d0d0;
    padding-right: 13px;
    position: relative;
}

.copyright_right p.ws em img {
    margin: 2px 4px 0 0;
}

.copyright_right p.ws em:hover {
    color: #fff;
    cursor: pointer;
}

.copyright_right p.ws em font {
    position: absolute;
    top: -120px;
    *top: -105px;
    left: -55px;
    display: none;
}

.copyright_right p.ws em font.bottomwb {
    left: -3px;
}

.copyright_right p.ws em:hover font {
    display: block;
}

.jrzj_stairs ul {
    background: #f9f9f9;
    padding: 8px 8px 8px 8px;
    margin-bottom: 25px;
}

.jrzj_stairs ul li {
    width: 20px;
    height: 21px;
    display: block;
}

.jrzj_stairs ul li.nor {
    height: 0px;
    *height: 25px;
    margin: 7px 0;
    *margin: 0;
    clear: both;
}

.jrzj_stairs ul li p {
    border-bottom: 1px solid #e8e8e8;
    width: 10px;
    margin-left: 5px;
}

.jrzj_stairs ul li img {
    width: 24px;
    height: 21px;
    position: relative;
    text-align: center;
    display: block;
}

.jrzj_stairs ul li.norw {
    width: 24px;
    height: 21px;
    *height: 22px;
    line-height: 21px;
    *line-height: 22px;
    color: #e46060;
}

.jrzj_stairs ul li.norw a {
    color: #e46060;
}

.jrzj_stairs dl dt {
    display: block;
    width: 40px;
    height: 39px;
    margin-top: 3px;
}

.jrzj_stairs dl dt a {
    display: block;
    width: 40px;
    height: 39px;
}

.jrzj_stairs dl dt.index_wx {
    background: url(../images/bottom_wx.png) no-repeat;
    position: relative;
}

.jrzj_stairs dl dt.index_wx span {
    display: none;
    position: absolute;
    top: -117px;
    left: -145px;
}

.jrzj_stairs dl dt.index_wx:hover span {
    display: block;
}

.jrzj_stairs dl dt.index_yj {
    background: url(../images/bottom_fk.png) no-repeat;
}

.jrzj_stairs dl dt.index_zd {
    background: url(../images/bottom_zd.png) no-repeat;
}

.jrzj_stairs dl dt.index_wx:hover {
    background: url(../images/bottom_wx01.png) no-repeat;
}

.jrzj_stairs dl dt.index_yj:hover {
    background: url(../images/bottom_fk01.png) no-repeat;
}

.jrzj_stairs dl dt.index_zd:hover {
    background: url(../images/bottom_zd01.png) no-repeat;
}

.zcopyright {
    padding: 5px 0 20px 0;
    margin-top: 15px;
}

.zcopyright .jrzj_newwidth {
    width: 1000px;
}

.yqlj em font {
    padding: 0 11px;
    color: #dfdede;
}

.yqlj em a {
    font-size: 14px;
    color: #555;
}

.yqlj em a:hover {
    color: #db2828;
}

.marnone {
    margin-top: 0;
}

.inforpic {
    border-bottom: 0;
    padding-bottom: 0;
}

.inforpic .hzpic img {
    margin-right: 30px;
}

.jrzj_minwidth {
    width: 1042px;
}