@charset "utf-8";

html, body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, fieldset, input, select, button, textarea, blockquote, iframe, table, th, td {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

body, input, select, button, textarea {
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
}

body {
    background: #fff;
    color: #363636;
    line-height: 1.2;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0 none;
}

fieldset {
    border: 0 none;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal
}

ul, ol {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

button {
    cursor: pointer;
}

i, em, cite {
    font-style: normal;
}

a, a:link, a:visited, a:active, a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
}

.fixed:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}

.fixed {
    display: block;
    min-height: 1%;
}

* html.fixed {
    height: 1%;
}

.clear {
    display: block !important;
    float: none !important;
    clear: both;
    overflow: hidden;
    width: auto !important;
    height: 0 !important;
    margin: 0auto !important;
    padding: 0 !important;
    font-size: 0;
    line-height: 0;
}

.fl, .fr {
    display: inline;
    float: left;
}

.fr {
    float: right;
}

.show {
    display: block;
}

.show2 {
    display: inline-block;
}

.hidden {
    display: none;
}

.valign {
    display: table-cell;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

.text {
    word-wrap: break-word;
    overflow: hidden;
    word-break: break-all;
}

.must {
    color: #FF802F;
}

.justify {
    text-align: justify;
    text-justify: distribute-all-lines; /*ie6-8*/
    text-align-last: justify; /* ie9*/
    -moz-text-align-last: justify; /*ff*/
    -webkit-text-align-last: justify; /*chrome 20+*/
}

@media screen and (-webkit-min-device-pixel-ratio:0) { /* chrome*/
    .justify:after {
        content: ".";
        display: inline-block;
        width: 100%;
        overflow: hidden;
        height: 0;
    }
}

.opacity {
    filter: alpha(opacity = 50); /* IE */
    -moz-opacity: 0.5; /* 老版Mozilla */
    -khtml-opacity: 0.5; /* 老版Safari */
    opacity: 0.5; /* 支持opacity的浏览器*/
}

.baseline {
    width: 1px;
    height: 100%;
    vertical-align: middle;
}

.ell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*----------------------------------------首页 公共CSS--------------------------------------------*/
body {
    background: url(../img/footer_bg_1x390.png) 0 bottom repeat-x;
}

#wrapper {
    width: 100%;
}

#header {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ededed;
    background: #ffffff;
}

#header .header_content {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

#header .header_content .focus_us {
    font-family: "宋体";
    color: #666666;
}

#header .header_content a {
    padding: 0 5px;
}

#header .header_content .client_hot {
    font-family: Verdana, "宋体";
    color: #666666;
    padding-left: 40px;
}

#header .header_content .client_hot strong {
    font-weight: bold;
    padding-right: 10px;
}

#header .header_content .site_nav {
    float: right;
    padding-right: 20px;
    background: url(../img/header_icon_dropdown_6x4.png) 61px center no-repeat;
    cursor: pointer;
}

#header .header_content .site_nav a {
    font-family: "宋体";
    padding: 0 0 0 5px;
    color: #666666;
}

#header .header_content .login_inst {
    float: right;
}

#header .header_content .login_inst a {
    font-family: "宋体";
    padding: 0 5px;
    color: #666666;
}

#header .header_content .regist_free {
    float: right;
}

#header .header_content .regist_free a {
    font-family: "宋体";
    padding: 0 5px;
    color: #ff6600;
}

#banner {
    height: 75px;
}

#banner .banner_content {
    width: 1200px;
    margin: 0 auto;
}

#banner .banner_content .logo {
    width: 301px;
    height: 38px;
    float: left;
    margin-top: 18px;
}

#banner .banner_content .logo .logo_img {
    width: 116px;
    height: 38px;
    float: left;
    background: url(../img/header_logo_helloan_116x38.png) no-repeat;
    padding-right: 15px;
    border-right: 1px solid #999999;
}

#banner .banner_content .logo .logo_img a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
}

#banner .banner_content .logo .logo_desc {
    float: left;
}

#banner .banner_content .logo .logo_desc p {
    line-height: 19px;
    font-family: "宋体";
    color: #999999;
    padding-left: 15px;
}

#banner .banner_content ul {
    float: left;
    margin-left: 150px;
}

#banner .banner_content ul li {
    width: 138px;
    height: 75px;
    float: left;
}

#banner .banner_content ul li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 75px;
    text-align: center;
    font-size: 16px;
    font-family: "微软雅黑";
    color: #999999;
}

#banner .banner_content ul li a:hover {
    background: url(../img/member_center.png) -1216px -504px;
}

#banner .banner_content .btn_grp {
    float: right;
    width: 189px;
    height: 41px;
    padding-top: 15px;
    background: url(../img/header_btn_double_189x41.png) 0 bottom no-repeat;
}

#banner .banner_content .btn_grp .login {
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    text-indent: -9999px;
    cursor: pointer;
}

#banner .banner_content .btn_grp .rigist {
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    text-indent: -9999px;
    cursor: pointer;
}

#footer {
    width: 1200px;
    margin: 40px auto 0;
    height: 390px;
    clear: both;
}

#footer_top {
    width: 1200px;
    margin: 0 auto;
    height: 118px;
    padding-top: 68px;
}

#footer_top .footer_top_1 {
    width: 150px;
    height: 49px;
    margin: 10px 25px 0 25px;
    float: left;
}

#footer_top .footer_top_1 a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/member_center.png) -1px -384px;
    text-indent: -9999px;
}

#footer_top .footer_top_2 {
    width: 450px;
    height: 118px;
    float: left;
}

#footer_top .footer_top_2 p {
    line-height: 228%;
}

#footer_top .footer_top_2 p em.label {
    font-style: italic;
    font-size: 14px;
    font-family: "微软雅黑";
    color: #666666;
}

#footer_top .footer_top_2 p em.digital {
    font-size: 24px;
    font-style: italic;
    color: #999999;
    font-family: "创艺简老宋";
    font-weight: bold;
}

#footer_top .footer_top_2 p em.time {
    font-style: italic;
    color: #ACADAF;
    padding-left: 14px;
}

#footer_top .footer_top_3 {
    float: left;
    margin-top: -27px;
}

#footer_top .footer_top_3 dl {
    float: left;
    width: 137px;
    text-align: center;
}

#footer_top .footer_top_3 dl dt, #footer_top .footer_top_3 dl dd {
    line-height: 180%;
}

#footer_top .footer_top_3 dl dt {
    padding-bottom: 10px;
}

#footer_top .footer_top_3 dl dt a {
    color: #666666;
    font-weight: bold;
    font-size: 14px;
}

#footer_top .footer_top_3 dl dd a {
    color: #999999;
    font-size: 12px;
}

#footer_bottom {
    
}

#footer_bottom .footer_bottom_1 {
    width: 512px;
    height: 31px;
    margin: 0 auto;
    padding-top: 10px;
}

#footer_bottom .footer_bottom_1 a {
    margin: 0 10px;
}

#footer_bottom .footer_bottom_2 {
    width: 1200px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    text-align: center;
    color: #cccccc;
    font-weight: bold;
}

#footer_bottom .footer_bottom_2 a {
    color: #CCCCCC;
    font-weight: normal;
    text-decoration: none;
    padding: 0 3px;
}

#footer_bottom .footer_bottom_3 {
    height: 30px;
    text-align: center;
    line-height: 30px;
}

#footer_bottom .footer_bottom_4 {
    height: 25px;
    padding-top: 18px;
    text-align: center;
    position: relative;
}

#footer_bottom .footer_bottom_41 {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -17px 0 0 -188px;
}

#footer_bottom .footer_bottom_4 a {
    margin: 0 5px;
    position: relative;
}

#footer_bottom .footer_bottom_1 .img1 {
    display: block;
    width: 99px;
    height: 30px;
    float: left;
    background: url(../img/member_center.png) -153px -384px;
}

#footer_bottom .footer_bottom_1 .img2 {
    display: block;
    width: 91px;
    height: 29px;
    float: left;
    background: url(../img/member_center.png) -255px -384px;
}

#footer_bottom .footer_bottom_1 .img3 {
    display: block;
    width: 114px;
    height: 22px;
    float: left;
    background: url(../img/member_center.png) -350px -384px;
}

#footer_bottom .footer_bottom_1 .img4 {
    display: block;
    width: 113px;
    height: 28px;
    float: left;
    background: url(../img/member_center.png) -466px -384px;
}

#footer_bottom .footer_bottom_4 .img1 {
    display: block;
    width: 96px;
    height: 34px;
    float: left;
    background: url(../img/member_center.png) -518px -325px;
}

#footer_bottom .footer_bottom_4 .img2 {
    display: block;
    width: 64px;
    height: 33px;
    float: left;
    background: url(../img/member_center.png) -616px -325px;
}

#footer_bottom .footer_bottom_4 .img3 {
    display: block;
    width: 42px;
    height: 34px;
    float: left;
    background: url(../img/member_center.png) -681px -325px;
}

#footer_bottom .footer_bottom_4 .img4 {
    display: block;
    width: 29px;
    height: 35px;
    float: left;
    background: url(../img/member_center.png) -725px -325px;
}

#footer_bottom .footer_bottom_4 .img5 {
    display: block;
    width: 95px;
    height: 34px;
    float: left;
    background: url(../img/member_center.png) -756px -325px;
}