#carrousel .fina_borr .fina ul li .dropdown, #carrousel .fina_borr .fina ul li .ipt {
    position: relative;
}

#carrousel .fina_borr .fina ul li .dropdown input, #carrousel .fina_borr .fina ul li .ipt input {
    position: absolute;
    left: 2px;
    top: 8px;
}

/**---------------------------------新添加的样式------------------------------------------------**/
#carrousel .fina_borr .fina ul li .dropdown dl {
    position: absolute;
    left: 1px;
    top: 46px;
    width: 207px;
    z-index: 10;
    background: white;
    border: 1px solid #CCCCCC;
}

#carrousel .fina_borr .fina ul li .dropdown dt {
    height: 22px;
    padding-left: 5px;
    line-height: 22px;
}

#carrousel .fina_borr .fina ul li .dropdown dt:hover {
    background: #3399FF;
    color: white;
}